<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="AllLogsFile" fileName="all.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="DaoFile" fileName="dao.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ConnectionPoolFile" fileName="pool.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="db.Dao" level="trace" additivity="false">
            <AppenderRef ref="AllLogsFile"/>
            <AppenderRef ref="DaoFile"/>
        </Logger>
        <Logger name="db.ConnectionPool" level="trace" additivity="false">
            <AppenderRef ref="AllLogsFile"/>
            <AppenderRef ref="ConnectionPoolFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="AllLogsFile"/>
        </Root>
    </Loggers>
</Configuration>