body {
    background-color: aqua;
}

.link {
    font-family: Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.label {
    font-family: Helvetica, sans-serif;
    color: white;
    display: block;
    padding-bottom: 5px;
    padding-top: 10px;
}

.label-error {
    margin-left: 20px;
    color: red;
    display: none;
}

.button {
    margin-top: 20px;
    background-color: yellow;
    display: block;
    border: none;
    padding: 20px;
    border: 5px solid yellow;
    margin-bottom: 20px;
}

.button:hover {
    border: 5px solid red;
}

.page {
    padding-left: 20px;
}

.header__text {
    font-family: Helvetica, sans-serif;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
}

.links-list {
    color: white;
}

.links-list__link {
    font-size: 30px;
}

.info-table {
    font-family: Helvetica, sans-serif;
    color: white;
}

.info-table__cell {
    border: 3px solid blanchedalmond;
    padding: 20px;
}

.home-link {
    display: inline-block;
    margin-top: 20px;
}