<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="AllLogsFile" fileName="all.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ServerFile" fileName="sockets.server.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="ClientFile" fileName="sockets.client.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="sockets.sockets.server.Server" level="trace" additivity="false">
            <AppenderRef ref="AllLogsFile"/>
            <AppenderRef ref="ServerFile"/>
        </Logger>
        <Logger name="sockets.sockets.client.Client" level="trace" additivity="false">
            <AppenderRef ref="AllLogsFile"/>
            <AppenderRef ref="ClientFile"/>
        </Logger>
        <Root level="error">
            <AppenderRef ref="AllLogsFile"/>
        </Root>
    </Loggers>
</Configuration>